{
	"pubkey": "d7308be823fa896f3ce8367aabc2deec9a787aeef018c9bd176db13911a5eaa5",                 // taken from 'Public Key' in https://explorer.shiftnrg.org/address/YOURDELEGATEADDRESS (in quotes "")
	"address": "4232221127422449264S",                                                            // your delegate address, (in quotes "")
	"percentage": 50,                                                                             // your share in percentage (no quotes)
	"minpayout": 0.01,                                                                            // your desired minimum payout (no quotes)
	"secret": "word1 word2 word3 word4 word5 word6 word7 word8 word9 word10 word11 word12",       // twelve words of your first passphrase (in quotes "")
	"secondsecret": "word1 word2 word3 word4 word5 word6 word7 word8 word9 word10 word11 word12", // twelve words of your second passphrase (in quotes "")

	"donations": {
		"4232221127422449264S ": 5                                                                  // will send 5 SHIFT each payout to 6323231687467908627S
		},
	"donationspercentage": {
		"4232221127422449264S ": 10                                                                 // will send 10% of forged SHIFT each payout to 4232221127422449264S
		},

	"node": "localhost:9305",                                                                     // IP:port of your node, do not change if you did not touch this in node config
	"nodepay": "localhost:9305",                                                                  // IP:port of your node, do not change if you did not touch this in node config
	"logfile": "poollogs.json",                                                                   // do not change unless you know what you are doing
	"feededuct": false,                                                                           // do not change - this means you cover tx fees, as a delegate should

	"private": false,                                                                             // do not change unless you know what you are doing
	"whitelist": [],                                                                              // do not change unless you know what you are doing
	"skip": []                                                                                    // do not change unless you know what you are doing
}
